.popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: (rgba($color: $color-black, $alpha: 0.8));
  z-index: 500;

  opacity: 0;
  visibility: hidden;

  transition: all 0.3s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__content {
    @include absCenter;

    width: 75%;
    background-color: $color-white;

    box-shadow: 0 2rem 4rem rgba($color: $color-black, $alpha: 0.2);
    border-radius: 3px;
    display: grid;
    grid-template-columns: 35% 65%;

    @include respond(tab) {
      grid-template-columns: 100%;
    }
  }

  &__left {
    @include respond(tab) {
      display: grid;
      grid-template-columns: 50% 50%;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 4rem;
  }
  &__right p {
    font-size: 1.4rem;
    font-weight: 700;
  }

  &__warn {
    font-size: 1.6rem;
    font-weight: 700;
  }

  &__img {
    display: block;
    width: 100%;
    @include respond(tab) {
      height: 100%;
    }
  }

  &__close {
    color: $color-dark;
    position: absolute;
    top: 2rem;
    right: 3rem;
  }

  &__close_a {
    text-decoration: none;
  }
}
