.u-center-text {
  text-align: center;
}

.u-container {
  max-width: 114rem;
  margin: 0 auto;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}
.u-margin-top-medium {
  margin-top: 4rem;
}
.u-margin-top-small {
  margin-top: 1.5rem;
}

.border {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

.grid-col-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 3rem;

  @include respond(tab) {
    grid-template-columns: 1fr;
  }
}

.grid-col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-self: center;
  @include respond(tab) {
    grid-template-columns: repeat(1, 90%);
    gap: 5rem;
  }
  gap: 2rem;
}

.grid-col-4 {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 1rem;
  @include respond(tab) {
    grid-template-columns: repeat(2, 50%);
  }

  @include respond(phone) {
    grid-template-columns: repeat(1, 95%);
  }
}
